/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/*/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }
.collapse{
    margin-top: 20px;
}
.btn-group{
    margin-top: 20%;
    
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
}