/*
 ==========================

     PUBLIC STYLE
 ===========================

*/

*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*
 ==========================

     HEADER STYLE PART1
 ===========================

*/

.head{
    background-color: white;
    padding: 10px;
}
.cont{
    width: 80%;
    margin: auto;
}

.cont a{
    text-decoration: none;
    color: #777;
    float: left;
    font-size: 15px;

}
.cont .tr{
    padding-top: 5px;
}
.cont a:hover{
    color: #4d8eff;
}
.cont .sel{
    float: right;
    margin-bottom: 10px;
}
.cont hr{
    clear: both;
    
}
.cont .sel .sec{
    border: none;
    margin-right: 10px;
    color: #777;
    padding: 5px 10px;
    
}
.head1{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    top: -10%;
  
    width: 100%;
    z-index: 2;
    
   
    
    
}
.head1 .cont {
    width: 80%;
    
  
}
.head1 .cont .rel a{
    text-decoration: none;
    color: black;
}
.head1 .cont .rel a img{
    margin-left: 10px;
    margin-top: 13px;
}

.head1 .cont .rel{
    float: left;
}
.head1 .cont .rel1{
   float: right;
    overflow:hidden;
    
}
.head1 .cont .rel1 ul li a{
    text-transform: uppercase;
    color: #000;
}
.head1 .cont .rel1 ul li .pr{
    color: #4d8eff;
}
.head1 .cont .rel1 ul li a:hover{
    color: #4d8eff;
}

.head1 .cont .rel1 ul{
margin-right: 30px;
margin-bottom: 0px;
margin-top: 24px;
}
.head1 .cont .rel1 ul li{
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: -7px;

}
.head1 .cont .rel1 ul li a{
    padding-bottom: 20px;
    margin-bottom: -7px;
}
.head1 .cont .rel1 li button{
    background-color: transparent;
    border: none;
    font-size: 14px;
}
.head1 .cont .rel1 li button:hover
{
    color: #4d8eff;
}
@keyframes animal{
    0% {
        opacity: 0;
    }
    10% {
        opacity: .1;
    }
    20% {
        opacity: .2;
    }
    30%{
        opacity: .3;
    }
    40% {
        opacity: .4;
    }
    50%{
        opacity: .5;
    }
    60% {
        opacity: .6;
    }
    70% {
        opacity: .7;
    }
    80% {
        opacity: .8;
    }
    90% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}
/*
@keyframes anim{
    0% {
        opacity: 1;
    }
    10% {
        opacity: .9;
    }
    20% {
        opacity: .8;
    }
    30%{
        opacity: .7;
    }
    40% {
        opacity: .6;
    }
    50%{
        opacity: .5;
    }
    60% {
        opacity: .4;
    }
    70% {
        opacity: .3;
    }
    80% {
        opacity: .2;
    }
    90% {
        opacity: .1;
    }
    100% {
        opacity: 0;
    }
}
*/
.active{
    position: fixed;
    top: 0;
    transition: all 1s ease-in-out;
    
    
    
}
.drow{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 15%;
    overflow: hidden;
    clear: both;
    transition: all 2s ease-in-out;
    left: 72.2%;
    animation: animal 1s 1 ease-in-out;
    top: 23.3;
    display: none;
   
}
.dro{
    top: 11%;
}
.drow ul{
    margin-bottom: 0;
}
.drow ul hr{
    margin: 0;
}
.drow ul li{
    list-style: none;
}
.drow ul li a{
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #000;
  
}

.drow ul li a:hover{
    background-color: #4d8eff;
    color: white;
    text-decoration: none;
}
/*
=========================
*/
.drow1{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 15%;
    overflow: hidden;
    clear: both;
    transition: all 2s ease-in-out;
    left: 77.4%;
    top: 23.3;
    animation: animal 1s 1 ease-in-out;
    display: none;
    
}
.dro1{
    top: 11%;
}
.drow1 ul{
    margin-bottom: 0;
}
.drow1 ul hr{
    margin: 0;
}
.drow1 ul li{
    list-style: none;
}
.drow1 ul li a{
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #000;
  
}

.drow1 ul li a:hover{
    background-color: #4d8eff;
    color: white;
    text-decoration: none;
}
/*
 ==========================

     HEADER STYLE PART2
 ===========================

*/
.info{
    width: 60%;
    margin: auto;
    font-family: 'Playfair Display', serif;
    padding-top: 170px;
   
   overflow: hidden;
}



.info .par1{
    text-align: center;
    clear: both;
    font-size: 120px;
    color: white;
    font-weight: 900;
    margin-top: -10px;

}
.info .par{
  
    font-size: 16px;
    color: white;
    margin-bottom: -44px;
    margin-right: 200px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    float: right;
}
.info .par2{
    text-align: center;
    color: white;
    font-weight: 500;
    color: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;
}
.info a{
    display: block;
    margin-top: 50px;
    text-align: center;
    
}
.info a img{
    transition: all 1.5s ease-in-out;
}
.info a img:hover{

    transform: scale(.8)

}
.info1{
    width: 80%;
    margin: auto;
    padding-top: 150px;
    
    background-color: transparent;
}
.info1 .four{
    float: left;
    box-shadow: 0px 5px 5px #e7ebf3;
    overflow: hidden;
    width: 25%;
    background-color: #fff;
}
.info1 .four hr{
    float: right;
    height: 133px;
    border: 1px solid rgb(207, 207, 207);
    transform: rotate(180deg);
}
.four .maz{
    float: left;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.four .maz .pur{
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: -30px;
    font-size: 15px;
    color: #555;
}
.four .maz ul{
    display: block;
    text-align: center;
    margin-left: 30px;
}
.four .maz ul li{
    list-style: none;
    display: inline-block;
 
}
.four .maz ul .lo{
    font-size: 80px;
  
}
.four .maz1{
    text-align: center;
    padding: 38px 0 50px;
}
.four .maz1 .btn{
    margin-top: 18px;
    border-radius: 0;
   
}
.four .maz1 .btn:hover{
    background-color: transparent;
    color: #4d8eff;
}
.four .maz1 a{
    color: #555;
}
.info1 .four1{
    background-color: rgb(241, 249, 255)
}


/*
 ==========================

  media   HEADER STYLE 
 ===========================

*/
@media(max-width:991px){
    .info1{
        padding-top: 260px;
    }
    .info1 .four2{
      clear: both;
    }
    .info1 .four{
        width: 50%;
    }
    .head{
        display: none;
    }
    .head1{
      display: none;
    }
    .info{
        width: 100%;

    }
    .info .par{
        margin-bottom: -20px;
    }
}
/*
 ==========================

  body STYLE 
 ===========================

*/
.inf{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 25%;
    margin-bottom: 3%;
}
.inf h2{
    font-family: playfair display,serif;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inf p{
    font-size: 14px;
    color: #777;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}
.btn{
   
    border-radius: 0;
}
.btn:hover{
    background-color: transparent;
    color: #4d8eff;
}
/*
        ======================
*/
.but{
    text-align: center;
   background-color: rgb(241, 249, 255);
   margin-bottom: 3%;
    padding: 20px 0 70px;
}
.but h2{
    font-family: playfair display,serif;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.but p{
    font-size: 14px;
    color: #777;
    
    text-align: center;
    font-weight: 600;
}
.but .f2 a img{
    margin-top: 20%;
}
/*
=================================
=================================

*/
.part{
   overflow:hidden;
    margin-bottom: 3%;
}
.part .par img{
    width:49% ;
    height: 426.7px;
    float: left;
}
.part .par1{
    width: 49%;
    float: right;
    overflow: hidden;
    background-color: #ffffff;
}
.part .par1 h2{
    padding: 10px ;
    font-weight: 900;
    
}
.part .par1 p{
    padding: 10px;
    color: #777;
    line-height: 2em;
}
.part .par1 .moher{
    padding: 10px;
    color: #777;
    float: left;
    list-style: none;
    font-size: 16px;
    font-weight: 500px;
    width: 40%;
}
.part .par1 h2 span{
    font-weight: 500px;
    font-size: 16px;
}
.part .par1 .poor{
    color: #4d8eff;
}
/*
================================

================================
*/

.part1{
   
    clear: both;
    padding: 170px 0;
    background-color: rgb(241, 249, 255);
}
.part1 .kaka{
    width: 80%;
    margin: auto;
    text-align: center;
    z-index: 1;
    background-color: white;
}
.part1 .kaka .kak{
    position: relative;
    font-size: 60px;
    bottom: 20px;
}
.part1 .kaka .lin a{
    margin-left: 2px;
    text-decoration: none;
}
.part1 .kaka p{
    font-weight: 500;
    color: #777;
    padding: 20px 0;
    line-height: 2em;
}
.part1 .imag{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -50px;
}
.part1 .imag img{
    margin-left: 20px;
    cursor: pointer;
}

.part1 .imag .rol{
    height: 102px;
    width:102px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 20px;
    position: absolute;
    background-color: rgba(77, 142, 255,.5);
}
.rol1,.rol2,.rol3{
    opacity: 0;
}
.imag .pp:hover .rol1,.imag .pp:hover .rol2,.imag .pp:hover .rol3{
     transition: all 1s ease-in-out;
    opacity: 1;
}
/*
  ===================================

  ===================================


*/
.sal{
    padding: 13% 0 5%;
    text-align: center;
}
.sal p{
    font-weight: 500;
    color: #777;
    line-height: 2em;
}
.sal h2{
    font-family: playfair display,serif;
    font-size: 60px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*
======================================
*/
.sal1{
    width: 80%;
    margin: auto;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
.lock{
    width: 32%;
    overflow: hidden;
}
.sal1 .lock img{
    width: 100%;
    height: 252.77px;
    margin-bottom: 5%;
    transition: all 1s ease-in-out;
    
}
.sal1 .lock .loc{
    display: flex;
    justify-content: space-between;
}
.sal1 .lock .loc .lo{
    width: 33.3333333%;
}
.sal1 .lock .loc p{
    font-size: 14px;
    color: #777;
    padding: 5px 0;
}
.sal1 .lock a{
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 20px;
}
.sal1 .lock:hover a{
    color: #4d8eff;
}
.sal1 .lock:hover img{
    transform: scale(1.1);
   
}
.sal1 .lock p{
    line-height: 2em;
    padding-top: 10px;
    color: #777;
}
/*
================================

   style of footer

==================================
*/
.over{
    width: 100%;
    height: 628px;
    background-color: rgba(0,0,0,.8)
}
.over .ov{
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding-top: 7%;
    margin: auto;
}
.over .ov .lala{
     
    width: 24%;
    overflow: hidden;

}
.over .ov .lala h4{
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
    font-family: playfair display,serif;
}
.over .ov .lala p{
    color: #777;
    line-height: 2em;
    font-size: 16px;
    font-family: roboto,sans-serif;
    font-weight: 500;
}
.over .ov .lala ul{
    width: 50%;
    list-style: none;
    line-height: 40px;
}
.over .ov .lala ul a{
    color: rgb(144, 144, 144);
}
.over .ov .lala ul a:hover{
    color: #fff;
}
.over .ov .lala .rob{
    display: flex;
    justify-content: space-between;
}
.over .ov .lala button{
    width: 20%;
    padding: 4px 0 5px;
    background-color: #4d8eff;
    border: 2px solid #4d8eff;

}
.over .ov .lala input{
    
    width: 80%;
    border: 1px solid #777;
    width: 60%;
    font-weight: 300;
    background:transparent;
    color: #fff;
    padding:7px 20px;
    margin-right: -5px;
 
    font-size: 14px;
}
.over .ov .lala input::placeholder{
    color: #fff;
}
.over .ov .lala input:focus{
    background-color: #2d3033;
    border: .5px solid #4d8eff;
   
}
.over .ov .lala .htm img{
    margin: 8px 5px 5px 0;
}
.over .ove{
    width: 83%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    color: rgb(144, 144, 144);
}
.over .ove a{
    color: #4d8eff;
}
.over .ove ul li{
    list-style: none;
    display: inline-block;
    margin-right:10px 
}